body {
    background: radial-gradient(circle at top,#0f172a,#020617);
    color:white;
    font-family:Poppins, sans-serif;
    text-align:center;
}

header{
    padding:40px 0;
    font-size:20px;
}

.hero form{
    margin-top:25px;
}
input{
    width:55%;
    padding:14px;
    border-radius:8px;
    border:none;
    outline:none;
    font-size:17px;
}
button{
    padding:14px 28px;
    font-size:17px;
    font-weight:600;
    background:#00eaff;
    color:#00151b;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
button:hover{background:#00bcd4;}

.features{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin-top:45px;
}
.card{
    background:rgba(255,255,255,0.06);
    width:230px;
    padding:20px;
    border-radius:12px;
    border:1px solid rgba(255,255,255,0.15);
    transition:0.3s;
}
.card:hover{transform:translateY(-6px) scale(1.04);}

.output{
    margin-top:60px;
    padding:20px;
}
.report-box{
    width:80%;
    height:330px;
    overflow:auto;
    background:#111827;
    margin:auto;
    text-align:left;
    padding:15px;
    border-radius:8px;
    border:1px solid #334155;
}

.btn{
    padding:14px 38px;
    margin:10px;
    display:inline-block;
    border-radius:8px;
    font-size:18px;
    text-decoration:none;
    font-weight:600;
}
.download{background:#00ff9d;color:#003312;}
.dashboard{background:#60a5fa;color:#011627;}

footer{
    margin-top:60px;
    opacity:0.7;
}
